@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* table of contents 
	- header
	- intro
	- map
	- list
		- list__cards__items
	- reviews
	- news
	- footer
	*/
body {
  font-family: "Source-sans-pro", sans-serif;
  line-height: 21px;
  letter-spacing: 1px;
}

.wraper {
  max-width: 1600px;
  height: 100%;
  margin: auto;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.header li {
  display: inline;
  margin-left: 15px;
}

.header li a {
  color: #14b6d3;
}

.header a:hover {
  color: red;
  text-decoration: underline;
}

#registr {
  padding: 10px;
}

#registr:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#registr a {
  color: #fff;
  padding: 10px;
}

.top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.top__logo img {
  height: 3rem;
  width: 3rem;
  margin-right: 10px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.top__logo img:hover {
  height: 3.3rem;
  width: 3.3rem;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

#registr {
  background-color: #d85757;
  border-radius: 3px;
}

/* intro */
.intro__header {
  height: 65vh;
  background-image: url("../img/pound.jpg");
  background-size: 100% 100%;
}

.intro__header {
  border-top: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 90px;
}

.intro__header > h1 {
  font-size: 2rem;
  font-weight: bold;
}

.intro__introP {
  padding: 4rem;
}

/* map */
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#4bedf3), to(transparent)), url("../img/map.webp");
  background-image: linear-gradient(to right, #4bedf3 0%, transparent 100%), url("../img/map.webp");
  background-size: 100% 100%;
  height: 350px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 15%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#map__button {
  background-color: #d85757;
  border-radius: 3px;
  color: #fff;
  margin: 30px 0px;
  width: 15.4rem;
  padding: 10px;
  font-weight: normal;
  font-size: 1.5rem;
}

.listWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* list*/
.list__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  height: 250px;
}

.list__cards h2 {
  font-weight: bold;
  font-size: 24px;
}

.list__cards__photo {
  width: 40%;
}

.list__cards__photo img {
  height: 100%;
  width: 100%;
}

/* list__cards__items */
.list__cards__items {
  padding: 10px;
  width: 50%;
}

.list__cards__items p {
  margin-bottom: 3px;
}

.cards__items {
  margin-bottom: 3px;
}

.cards_p_items {
  margin-bottom: 3px;
  color: #c4c0c0;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
}

.rate img {
  height: 1.2rem;
  width: 1.2rem;
  margin-bottom: 3px;
}

.rate__type_pound {
  margin-bottom: 3px;
  background-color: #d85757;
}

.rate__type_base {
  margin-bottom: 3px;
  background-color: aqua;
}

.rate__fish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate__fish img {
  height: 1.5rem;
  width: 1.5rem;
}

.period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.period img {
  height: 1.5rem;
  width: 1.5rem;
}

/* reviews */
.reviews {
  margin: 20px;
  padding: 10px;
  border: 1px solid #d1cccc;
  border-radius: 4%;
}

.reviews h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.reviews a {
  margin-bottom: 5px;
}

.rate {
  margin: 5px 0px 5px 0px;
}

.reviews__text {
  margin: 5px 0px 50px 0px;
}

.reviews__sign {
  margin-bottom: 5px;
  color: #c4c0c0;
}

/* news */
.news {
  margin: 20px;
  padding: 10px;
  border-radius: 4%;
  background-color: #eeeaea;
  font-size: 1.3rem;
}

.news__item {
  font-size: 0.9rem;
  margin: 20px 0px;
}

.news__item p {
  color: #c4c0c0;
}

.news__item h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0px;
}

.addPlace {
  font-size: 1.3rem;
  padding: 10px;
}

.addPlace h3 {
  margin: 10px 0px 20px 0px;
}

/* footer */
.footer {
  height: 70px;
  border-top: 1px solid #c4c0c0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  display: inline;
  margin-right: 15px;
}

.footer__nav a {
  color: #070707;
}

.footer__nav a:hover {
  text-decoration: underline;
}
